# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

# Ignore all temporary Terraform directories except .gitkeep files
aws_manager/terraform/temp_*/*
!aws_manager/terraform/temp_ec2/.gitkeep
!aws_manager/terraform/temp_loadbalancer/.gitkeep
!aws_manager/terraform/temp_s3/.gitkeep
!aws_manager/terraform/temp_vpc/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo
